In [1]:
import pandas as pd
import random

In [2]:
culturas = ['Soja', 'Milho', 'Café', 'Arroz', 'Cana-de-Açucar', 'Trigo', 'Feijão']
produtividade = ['Baixa', 'Média', 'Alta', 'Muito Alta']

data = {
    'num_trabalhadores': [random.randint(10, 45) for _ in range(100)], 
    'producao_toneladas': [round(random.uniform(400, 2500), 2) for _ in range(100)], 
    'cultura':[random.choice(culturas) for _ in range(100)], 
    'classificacao_produtividade': [random.choice(produtividade) for _ in range(100)]
}

In [3]:
df = pd.DataFrame(data)
df

,num_trabalhadores,producao_toneladas,cultura,classificacao_produtividade
0,29,2387.10,Feijão,Alta
1,37,1634.69,Soja,Baixa
2,16,1407.12,Soja,Muito Alta
3,14,1230.96,Soja,Muito Alta
4,18,2460.99,Milho,Baixa
...,...,...,...,...
95,15,2341.07,Feijão,Alta
96,17,1226.53,Soja,Baixa
97,10,1885.35,Cana-de-Açucar,Baixa
98,23,931.70,Arroz,Média
99,11,1504.53,Feijão,Média

In [8]:
salvar_excel =  r'C:\Users\Usuario\Documents\Estudos\Estudos\FIAP\Fase2\Cap_07_Decolando_Ciencia_Dados/base_agronecocio.xlsx'
df.to_excel(salvar_excel, index=False)